header{
    width: 100vw;
    height: 17vh;
    background-color: black;
}
section{
    width: 100vw;
    height: 70vh;
}
iframe{
    width: 100%;
    height: 100%;
}
footer{
     width: 100vw;
    height: 3vh;
    font-size: large;
    position: relative;
    text-align: center;
    font-size: 13px;
    opacity: 0.7;
    background-color: black;
    color: rgb(255, 0, 0);
    padding: 20px 0;
    position: fixed;
    bottom: -80px;
    animation: slideUp 1s forwards;
    }
    
@keyframes slideUp {
    from { bottom: -80px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
    
}
@keyframes fo {
    0%{transform: translate(-100%);}
    100%{transform: translate(300%);}
}
ul li{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 100px;
    font-size: large;
    color: black;
}
li :hover{
    color: red;
}
img{
    float: left;
    border-radius: 50%;
    transition-duration: 5s;
    width: 150px;
    height: 150px;
}
img:hover{
    transform: rotate(360deg);
}
a{
    text-decoration: none;
}
.h1{
    animation: fo 5s infinite;
    position: absolute;
    font-size: 25px;
    color: red;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}